body {
  background-color: rgb(241, 225, 0);
}
.blur {
  filter: blur(5px);
  transition: filter 0.3s ease-in-out;
}
.none {
  display: none;
}
.desc {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200vh;
  height: 90vh;
  border: 5px solid antiquewhite;
  border-radius: 30px;
  background-color: antiquewhite;
  z-index: 100;
  overflow: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  color: #333;
}
.seeMore {
  /* style={{
    background: "lightblue",
    margin: "15px",
    position: "absolute",
    bottom: "10px",
    right: "10px",
    padding: "10px 20px",
    border: "none",
    borderRadius: "30px",
    hover: { background: "transparent", cursor: "pointer" },
  }} */

  background-color: lightblue;
  margin: 15px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 10px 20px;
  border: 5px solid white;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
  height: 50px;
  width: 120px;
}
.seeMore:hover {
  background-color: transparent;
  cursor: pointer;
  border: 5px solid lightblue;
}
.imgback {
  width: 250px;
  height: 250px;
  margin: -80px 0px;
}
.desc .x {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: red;
}
.desc .x:hover {
  background-color: darkred;
  color: white;
  cursor: pointer;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;
  align-items: start;
  padding: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0px 10%;
}
.card {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
}
.button {
  position: absolute;
  top: 20px;
  right: 40px;
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  gap: 15px;
  z-index: 10;
  width: 150px;
  height: 25px;
}
.buttontwo {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  gap: 15px;
  z-index: 10;
  width: 150px;
  height: 25px;
}

.button > *:hover {
  background: #ffd700;
}
#b1 {
  margin-right: 150px;
}
.search {
  width: 80%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  margin-bottom: 20px;
}
